.header {
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary);
  // border-bottom: 3px solid var(--background-secondary);
  height: 100px;

  &__img {
    width: 200px;
  }
}
