<p-card styleClass="card" header="{{cocktail.name}}" [style]="{'backgroundColor': '#3E2A2A', 'color': '#F0E68C'}">

  <ng-template pTemplate="header">
      <img alt="Card" src="{{cocktail.img}}" />
  </ng-template>

  <ng-template pTemplate="subtitle">
    <span>Some ingredients...</span>
    <div class="chips">
      <p-chip
        *ngFor="let ingredient of cocktail.ingredients"
        label="{{ingredient.name}}"
        styleClass="chips"/>
    </div>
  </ng-template>

  <!-- <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
          <p-button styleClass="details-btn" label="Details" severity="secondary" />
      </div>
  </ng-template> -->
</p-card>
