<p-card styleClass="card" header="{{cocktail.name}}">

  <ng-template pTemplate="header">
      <img alt="Card" src="{{cocktail.img}}" />
  </ng-template>

  <ng-template pTemplate="subtitle">
    @if((cocktail.ingredients || []).length > 0) {
      <span>Some ingredients...</span>
      <div class="chips">
        @for(ingredient of cocktail.ingredients; track ingredient) {
          <p-chip
            label="{{ingredient.name}}"
            styleClass="chips"/>
        }
      </div>
    }
  </ng-template>
</p-card>
