.card {
  overflow: hidden;
  background-color: var(--card-background-color);
  border-radius: 4px;
  border: 2px solid #8B4513;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .p-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;

    .p-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .p-card-content {
      padding: 0px!important;
      display: none;
    }

    .p-card-footer {
      padding: 0px!important;
      margin-top: auto;

      .details-btn {
        width: 100%;
      }
    }
  }
}

.chips {
  display: flex!important;
  flex-wrap: wrap!important;
  gap: 0.3rem!important;
  max-height: calc(2*(2rem));
  overflow: hidden;

  .p-chip {
    background-color: #5C4B4B;

    .p-chip-text {
      font-size: 12px;
      color: #F0E68C;
    }
  }
}
