.content {

  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // height: calc(100vh - 155px);
    gap: 16px;
    max-width: 100%;
    overflow: hidden!important;
    padding: 1rem;
  }

  &__list--empty {
    height: calc(100vh - 155px);
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90%;
      font-size: 40px;
    }
  }
}
