<div class="content">
  <div class="content__filterInputs">
    <app-cocktail-filter
      (filterChange)="onFilterChange($event)">
    </app-cocktail-filter>
  </div>

  <div *ngIf="cocktails.length > 0" class="content__list">
      <app-cocktail-card
        *ngFor="let cocktail of cocktails"
        [cocktail]="cocktail"
        (contextmenu)="onContextMenu($event, cocktail)">
      </app-cocktail-card>
  </div>
  <p-contextMenu #cm [model]="items" (onHide)="onHide()" />
  <div *ngIf="cocktails.length <= 0" class="content__list--empty">
    <div>
      <span>Search a cocktail...</span>
    </div>
  </div>
</div>

