<div class="filters" [formGroup]="filterForm">

  <div class="filters__control-box">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-trophy"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="name" placeholder="Cocktail name"/>
    </p-inputGroup>
    @if(filterForm.get('name')?.invalid && filterForm.get('name')?.touched) {
      <div class="filters__errors">
        @if(filterForm.get('name')?.errors?.['pattern']) {
          <small>
            Only alphabetic characters are allowed.
          </small>
        }
        @if(filterForm.get('name')?.errors?.['maxlength']) {
          <small>
            Maximum 50 characters.
          </small>
        }
      </div>
    }
  </div>

  <div class="filters__control-box">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-chart-scatter"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="ingredient" placeholder="Cocktail ingredient"/>
    </p-inputGroup>
    @if(filterForm.get('ingredient')?.invalid && filterForm.get('ingredient')?.touched) {
      <div class="filters__errors">
        @if(filterForm.get('ingredient')?.errors?.['pattern']) {
          <small>
            Only alphabetic characters are allowed.
          </small>
        }
        @if(filterForm.get('ingredient')?.errors?.['maxlength']) {
          <small>
            Maximum 50 characters.
          </small>
        }
      </div>
    }
  </div>

  <div class="filters__control-box">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-key"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="id" placeholder="Cocktail ID"/>
    </p-inputGroup>
    @if(filterForm.get('id')?.invalid && filterForm.get('id')?.touched) {
      <div class="filters__errors">
        @if(filterForm.get('id')?.errors?.['pattern']) {
          <small>
            Only alphabetic characters are allowed.
          </small>
        }
      </div>
    }
  </div>
  <div class="filters__control-box">
    <p-button [ngClass]="{'active': isFavoriteList}" class="filters__control-box__button-favorite" severity="secondary" icon="pi pi-heart" (click)="goToFavoriteList()" />
  </div>
</div>


