<div class="filters" [formGroup]="filterForm">

  <div class="filters__drinkName">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-trophy"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="name" placeholder="Cocktail name"/>
    </p-inputGroup>
    <div class="filters__errors" *ngIf="filterForm.get('name')?.invalid && filterForm.get('name')?.touched">
      <small *ngIf="filterForm.get('name')?.errors?.['pattern']">
        Only alphabetic characters are allowed.
      </small>
      <small *ngIf="filterForm.get('name')?.errors?.['maxlength']">
        Maximum 50 characters.
      </small>
    </div>
  </div>

  <div class="filters__drinkName">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-chart-scatter"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="ingredient" placeholder="Cocktail ingredient"/>
    </p-inputGroup>
    <div class="filters__errors" *ngIf="filterForm.get('ingredient')?.invalid && filterForm.get('ingredient')?.touched">
      <small *ngIf="filterForm.get('ingredient')?.errors?.['pattern']">
        Only alphabetic characters are allowed.
      </small>
      <small *ngIf="filterForm.get('ingredient')?.errors?.['maxlength']">
        Maximum 50 characters.
      </small>
    </div>
  </div>

  <div class="filters__drinkName">
    <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-key"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="id" placeholder="Cocktail ID"/>
    </p-inputGroup>
    <div class="filters__errors" *ngIf="filterForm.get('id')?.invalid && filterForm.get('id')?.touched">
      <small *ngIf="filterForm.get('id')?.errors?.['pattern']">
        Only alphabetic characters are allowed.
      </small>
    </div>
  </div>
</div>


